{{ define "content" }}
<script src="/assets/javascript/ark_js.js" async></script>
<div class="row justify-content-md-center" id="app">
  <div class="col-10">
    <span style="display: inline-flex;">
      <h3>ARK Explorer</h3>
    </span>
    <span style="position: relative;
      left: 20px;
      top: -5px;">
      <el-button
        type="success"
        @click="syncBlock()" round>
        Sync block
      </el-button>
    </span>
    <span style="position: relative; left: 40px;">ARK transactions received by Giraffe Delegate.</span>
  </div>
  <div class="col-10">
    <app></app>
  </div>
</div>
{{ end }}
