{{ define "content" }}
<script src="/assets/javascript/pricerate_indx.js" async></script>
<div class="row justify-content-md-center" id="app">
  <div class="col-10">
    <section>
        <h3>Giraffe Delegate</h3>
        <p></p>
        <p>Giraffe Delegate is aimed to be a delegate providing SmartBridges service.</p>
        <p>We plan to provide: 1. Contract execution service, using ARK to invoke Ethereum Smart Contract. 2. Cryptocurrencies exchange service, starting with ARK-to-ETH and ARK-to-Tokens(ERC20).</p>
        <p>Please see our <a href="https://forum.ark.io/topic/829/giraffe-a-delegate-and-smartbridges-service-provider-both-rewards-and-service-profit-sharing-be-our-angel-voters-to-earn-3-times-profit/2">proposal</a> for detail explanation.</p>
     </section>
  </div>
  <div class="col-10" style="padding-top: 20px">
    <section>
      <h3>How to use?</h3>
      <p></p>
      <p>This site demonstrates the ability to exchange ARK(testnet) to ETH(Rinkeby testnet) through SmartBridges.</p>
      <p>You just need to send ARK(testnet) to <a href="https://dexplorer.ark.io/address/DKpAhq5QNVGKWLwnFFe9EJfQxFrfza4E8e">DKpAhq5QNVGKWLwnFFe9EJfQxFrfza4E8e</a>, and including SmartBridges Data: <code>{"eth": "your-ethereum-account"}</code>.</p>
      <p>When we receive your ARK transaction, we will send ETH to your Ethereum acccount. The ETH amount is fixed to 0.0001 ETH(Rinkeby) for now.</p>
    </section>
  </div>
  <div class="col-10" style="padding-top: 20px">
    <h3>{{ .title }}</h3>
  </div>
  <div class="col-10" id="app" style="padding-top: 10px">
    <el-row :gutter="20">
      <el-col :span="8">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>
              BTC
              <img style="width: 20px" src="/assets/image/Bitcoin-icon.png"></img>
            </span>
          </div>
          <div>
            @{bitcoin} <img style="width: 20px" src="/assets/image/tether-icon.png"></img>
          </div>
          <div>
            @{(bitcoin/ark).toFixed(2)} <img style="width: 20px" src="/assets/image/ark-welcome.png"></img>
          </div>
        </el-card>
      </el-col>
      <el-col :span="8">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>
              ARK
              <img style="width: 20px" src="/assets/image/ark-welcome.png"></img>
            </span>
          </div>
          <div>
            @{ark} <img style="width: 20px" src="/assets/image/tether-icon.png"></img>
          </div>
          <div>
            @{(ark/ark).toFixed(2)} <img style="width: 20px" src="/assets/image/ark-welcome.png"></img>
          </div>
        </el-card>
      </el-col>
      <el-col :span="8">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>
              ETH
              <img style="width: 20px" src="/assets/image/ETHEREUM-icon.png"></img>
            </span>
          </div>
          <div>
            @{ethereum} <img style="width: 20px" src="/assets/image/tether-icon.png"></img>
          </div>
          <div>
            @{(ethereum/ark).toFixed(2)} <img style="width: 20px" src="/assets/image/ark-welcome.png"></img>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>

  <div class="col-10" style="display: none;">
    {{ range $key, $value := .data }}
      <input id={{ $value.Name }} value={{ $value.Price }}></input>
    {{ end }}
  </div>
</div>
{{ end }}
