---
database:
  debug: true
  host: localhost
  port: 26257
  user: root
  password: root
  dbname: ark_dev
web:
  port: 4000
ark:
  publickey: 000000000000000000000000000000000000000000000000000000000000000000
  username: username0
  passphrase: "./config/keys/arkpassphrase"
ether:
  keyjsonpath: "./config/keys/ethjsonkey"
  displaymessage: Hello, We are Giraffe, have fun!
  keypassword: ""
  ethereum_rpc_hist: "http://0.0.0.0:8888"
  gasfee: 21000
...
